img {
  height: 100%;
  object-fit: cover;
  flex-basis: 256px;
  flex-grow: 1;
  border-radius: .375rem;
}

img:nth-child(n + 3) {
  flex-basis: 128px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image__container {
  width: 568px;
  height: 360px;
  display: flex;
  flex-wrap: wrap;
  gap: .75rem;
}
